body {
    font-family: Arial, Helvetica, sans-serif;
}
#navbar {
    background-color: #9172ec;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#navbar a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
#header {
    text-align: center;
    margin-top: 150px;
}
#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#search-box {
    margin:2px;
    width: 300px;
    padding: 3px;
    border: 2px solid #9172ec;
    border-radius: 2px;
}
#search-button {
    background-color: #9172ec;
    color: white;
    border-radius: 2px;
    padding: 3px;
    padding-left:5px;
    padding-right:5px;
}
#result h3 {
    justify-content: center;
    text-align: center;
}
#result p {
    justify-content: center;
    text-align: center;
}

